<div ui-view>
	<form ng-show="data.mode=='login'" class="commun_bs_connexion_form ng-pristine ng-valid validForm ng-valid-email" role="form" ng-submit="login(credentials)" novalidate="" autocomplete="off">
		<input class="form-control ng-pristine ng-valid ng-empty ng-valid-email ng-touched" name="user" placeholder="login" ng-model="credentials.username" autofocus="" type="text" style="">
		<input class="form-control ng-pristine ng-untouched ng-valid ng-empty" name="password" placeholder="password" ng-model="credentials.password" type="password" value="">
		<div class="clearboth"></div>
		<button type="submit">Me connecter</button>
		<label class="stayConnected">
			<input type="checkbox" ng-model="data.rememberCredentials" ng-init="data.rememberCredentials=true" class="ng-pristine ng-untouched ng-valid ng-not-empty">Rester connecté
		</label>
		<div class="clearboth"></div>
		<button ng-click="auth('facebook')"><span class="glyphicon glyphicon-facebook" alt="Sign-In with Facebook">[Facebook]</span></button>
		<button ng-click="auth('twitter')"><span class="glyphicon glyphicon-twitter" alt="Sign-In with Twitter">[Twitter]</span></button>

		<span ng-click="data.mode='register'">S'inscrire</span>
	</form>
	<form ng-show="data.mode=='register'" class="commun_bs_connexion_form ng-pristine ng-valid validForm ng-valid-email" role="form" ng-submit="register(credentials)" novalidate="" autocomplete="off">
		<input class="form-control ng-pristine ng-valid ng-empty ng-valid-email ng-touched" name="user" placeholder="login" ng-model="credentials.username" autofocus="" type="text" style="">
		<input class="form-control ng-pristine ng-untouched ng-valid ng-empty" name="password" placeholder="password" ng-model="credentials.password" type="password" value="">
		<div class="clearboth"></div>
		<button type="submit">M'inscrire</button>
		<div class="clearboth"></div>
		<span ng-click="data.mode='login'">Se connecter</span>
	</form>
	Message : <span>{{data.message}}</span><br/>
	ErrorMessage : <span>{{data.errorMessage}}</span><br/>
</div>
